.container {
    width: 400px;
    margin: 50px auto;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: red;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    
}