.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ;
}
.dashboard{
    display: flex;
    justify-content: space-between;
    
}
.nav {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: baseline;
    padding-left: 10px;
}
